# Global parameters for Drupal.
includes:
  - phpstan-drupal.neon

# Parameters for this module.
parameters:
    level: 10
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
